@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext,cyrillic,cyrillic-ext);

img {
	border: none;
}

hr {
	margin-top: 0px;
	margin-bottom: 20px;
}

body {
	font-family: Play,Sans Serif;
	background-color: #828282;
}

#BodyWrapper {
	position: absolute;
	top: 0;
	left: 50%;
	padding: 0 15px;
	margin-left: -456.5px;
	padding-bottom: 15px;
	background: white;
	border-left: 15px solid #a3a3a3;
	border-right: 15px solid #a3a3a3;
	width: 853px;
}

#Content {
	width: 100%;
}

#Header {
	width: 853px;
	height: 170px;
	margin-top: 16px;
}

#HeaderLogo {
	float: left;
}

#HeaderRightPanel {
	display: inline-block;
	float: right;
}

#LanguageBar {
	margin-right: 5px;
	text-align: right;
}

	#LanguageBar a img {
		height: 35px;
		opacity: 0.8;
	}

#Menu {
	margin-top: 20px;
	height: 45px;
	background: #414141;
	background: -moz-linear-gradient(top, #414141 0%, #3a3a3a 20%, #2c2c2c 43%, #272727 48%, #161616 50%, #070707 80%, #010101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(20%,#3a3a3a), color-stop(43%,#2c2c2c), color-stop(48%,#272727), color-stop(50%,#161616), color-stop(80%,#070707), color-stop(100%,#010101)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	background: -o-linear-gradient(top, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	background: -ms-linear-gradient(top, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	background: linear-gradient(to bottom, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#010101',GradientType=0 );
	width: 853px;
}

	#Menu ul {
		list-style: none;
		list-style-position: inside;
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 0;
		overflow: hidden;
		text-align: center;
		display: table;
	}

		#Menu ul li {
			display: table-cell;
			margin: 0px;
			height: 45px;
			cursor: pointer;
		}

			#Menu ul li a {
				height: 45px;
				line-height: 45px;
				font-size: 14pt;
				color: #ffffff;
				text-decoration: none;
			}

#SubMenu {
	background: url('/Content/Images/menu_down.png');
	height: 10px;
	width: 853px;
}

#SubMenuSpinner {
	overflow: hidden;
	height: 10px;
	background-image: linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(214,100,24)), color-stop(0.49, rgb(232,121,46)), color-stop(0.5, rgb(237,139,70)), color-stop(1, rgb(251,158,92)));
}


#Slider {
	margin-top: 0px;
}

#SliderPanel {
	background: #414141;
	background: -moz-linear-gradient(top, #414141 0%, #3a3a3a 20%, #2c2c2c 43%, #272727 48%, #161616 50%, #070707 80%, #010101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414141), color-stop(20%,#3a3a3a), color-stop(43%,#2c2c2c), color-stop(48%,#272727), color-stop(50%,#161616), color-stop(80%,#070707), color-stop(100%,#010101));
	background: -webkit-linear-gradient(top, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	background: -o-linear-gradient(top, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	background: -ms-linear-gradient(top, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	background: linear-gradient(to bottom, #414141 0%,#3a3a3a 20%,#2c2c2c 43%,#272727 48%,#161616 50%,#070707 80%,#010101 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#010101',GradientType=0 );
	width: 853px;
	height: 10px;
	margin: 0;
	padding: 0;
}

	#SliderPanel ul {
		position: absolute;
		margin-top: -10px;
		list-style: none;
		padding: 0;
		font-size: 0;
	}

		#SliderPanel ul li {
			display: inline;
			float: left;
			height: 10px;
			background: transparent;
			margin: 0;
			padding: 0;
		}

			#SliderPanel ul li:hover {
				cursor: pointer;
			}

#SliderSpinner {
	width: 100%;
	height: 10px;
	overflow: hidden;
	background-image: linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%) !important;
	background-image: -o-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%) !important;
	background-image: -moz-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%) !important;
	background-image: -webkit-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%) !important;
	background-image: -ms-linear-gradient(bottom, rgb(214,100,24) 0%, rgb(232,121,46) 49%, rgb(237,139,70) 50%, rgb(251,158,92) 100%) !important;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(214,100,24)), color-stop(0.49, rgb(232,121,46)), color-stop(0.5, rgb(237,139,70)), color-stop(1, rgb(251,158,92))) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.BlogPost {
	margin: 40px 39px;
	width: 775px;
	color: #494949;
}

.BlogPanel {
	margin-top: 20px;
}

.BlogPostContent {
	margin-top: 20px;
	text-align: justify;
}

#Footer {
	color: #494949;
	clear: both;
}

.BlogSharePanel {
	margin-top: -41px;
	text-align: right;
	font-size: 13pt;
}

.BlogShareButton {
	display: inline-block;
	color: #ffffff;
	width: 112px;
	height: 38px;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	padding-top: 5px;
	padding-left: 15px;
}

#BlogShareButtonTweet {
	background: url('img/tweet.png') no-repeat;
}

#BlogShareButtonFacebook {
	background: url(img/fb_like.png) no-repeat;
}

#BlogShareButtonVK {
	background: url(img/vk_like.png) no-repeat;
}

#Footer {
	padding-top: 10px;
	text-align: center;
	width: 853px;
}

#Contact {
	width: 800px;
	margin: 0 26px;
}

#ContactForm {
	float: left;
	width: 45%;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

	#ContactForm * {
		width: 100%;
	}

	#ContactForm input {
		border: #494949 1px solid;
	}

		#ContactForm input:hover {
			-webkit-box-shadow: 0px 0px 2px 0px rgba(49, 49, 49, 0.3);
			box-shadow: 0px 0px 2px 0px rgba(49, 49, 49, 0.3);
			border: #ff3c00 1px solid;
		}

	#ContactForm p {
		margin-bottom: 5px;
	}

		#ContactForm p:first-child {
			margin-top: 0;
		}

#ContactFromSubmit {
	background: transparent;
	width: 100%;
	height: 46px;
	font-family: Play;
	font-size: 14pt;
	font-weight: bold;
	margin-top: 20px;
	border: .2px solid #ff3c00 !important;
	border-radius: 10px;
}

	#ContactFromSubmit:hover {
		color: #ff3c00;
	}

#ContactPageInformation {
	display: inline-block;
	float: right;
	width: 45%;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
}

	#ContactPageInformation * {
		width: 100%;
	}

textarea {
	border: #494949 1px solid;
}

	textarea:hover {
		-webkit-box-shadow: 0px 0px 2px 0px rgba(49, 49, 49, 0.3);
		box-shadow: 0px 0px 2px 0px rgba(49, 49, 49, 0.3);
		border: #ff3c00 1px solid;
	}

	textarea:focus {
		-webkit-box-shadow: 0px 0px 2px 0px rgba(49, 49, 49, 0.3);
		box-shadow: 0px 0px 2px 0px rgba(49, 49, 49, 0.3);
		border: #ff3c00 1px solid;
	}

#About {
	margin-left: 71px;
	margin-right: 71px;
	margin-top: 10px;
	text-align: justify;
	width: 710px;
}

	#About img {
		width: 710px;
	}

#SocialBar {
	position: fixed;
	left: 0px;
	top: 50%;
	margin-top: -67px;
}

	#SocialBar div {
		margin: 0px;
		height: 45px;
		width: 45px;
	}

	#SocialBar a img {
		border: none;
		height: 45px;
	}

		#SocialBar a img:hover {
			height: 50px;
			margin-top: -5px;
		}

#Services {
	margin-top: 10px;
}

	#Services a {
		text-decoration: none;
		font-size: 13pt;
		color: #1d1d1d;
		font-weight: bold;
	}

		#Services a:hover {
			text-decoration: none;
			color: #ff3c00;
		}

#Status {
	text-align: center;
	color: #ff3c00;
	display: none;
}
